.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";
}
.a {
  grid-area: a;
  display: flex;
  justify-content: space-between;
}
.b {
  grid-area: b;
  margin-left: 65px;
  grid-column: 2;
}
.c {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-area: c;
}
